---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import BentoGrid from '../components/BentoGrid.astro';
import FinalCTA from '../components/FinalCTA.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Features />
    <BentoGrid />
    <FinalCTA />
  </main>
</Layout>
